################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/AzureLearning.API/bin
/AzureLearning.API/obj

/AzureLearning.Common/bin
/AzureLearning.Common/obj

/AzureLearning.Data/bin
/AzureLearning.Data/obj

/AzureLearning.Model/bin
/AzureLearning.Model/obj

/AzureLearning.Service/bin
/AzureLearning.Service/obj